* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    background-color: pink;

}

.first-row{
    display: flex;
    justify-content: space-between;
    background-color:pink;
    
}

.first-row .box {
    width: 28.3vw;
    height: 28.3vw;
    margin: 2.5vw;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
