#container {
    background-color: pink;

}

.first-row{
    display: flex;
    justify-content: space-between;
    background-color:pink;
    
}

.first-row .box {
    width: 23.3vw;
    height: 23.3vw;
    margin: 5vw
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;

}
